<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ripConfiguration" type="SimpleConfig.Section, SimpleConfig"/>
  </configSections>
  <ripConfiguration thisPC="::{20D04FE0-3AEA-1069-A2D8-08002B30309D}" ripDirectory="C:\Temp\Rip" outputDirectory="c:\Temp\Output">
    <MakeMkv Path="C:\Program Files (x86)\MakeMKV\makemkvcon.exe" />
    <Handbrake Path="C:\Program Files\Handbrake\HandBrakeCLI.exe" />
  </ripConfiguration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>